language: node_js
node_js:
  - "10"

cache:
  yarn: true
  directories:
    - "node_modules"

# before_script:
#   - yarn run lerna run prepublish

# script:
#   - yarn test

before_deploy:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null

deploy:
  provider: script
  script: "yarn run lerna:publish"
  skip_cleanup: true
  on:
    node: "10"
    tags: true
